body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Across website*/

img {
    width: 100%;
}

.redButton {
    background-color: red;
    border-color: black;
    color: white;
}

.redButton:hover {
    background-color: white;
    color: black;
}

.alignRight {
    text-align: right;
}

/*Nav Bar*/

/*Index page*/

#mainJumbotron {
    margin-top: 20px;
    background-image: url('Images/dragon.jpg');
    background-size: cover;
    height: 500px;
}

/*About Me page*/

#selfie {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
    height: 300px;
    width: 300px;
}

/*Contact page*/

#raven {
    height: 100px;
    border-radius: 50%;
    float: right;
}

#contact {
    background-image: url('Images/scroll.png');
    background-size: 100%;
    height: 575px;
    color: black;
    background-color: black;
    background-repeat: no-repeat;
}

#address {
}

#email {
    color: black;
}

#email:hover {
    color: red;
    text-decoration: none;
}

/*Post/Index page*/
#postIndexJumbotron{
    background: url('Images/fire.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 500px;
}

#createPostButton {
    margin-top: 200px;
}

.postImage {
    width: 50%;
    height: 500px;
    float: left;
    display: block;
    margin: 15px;
}

.whiteBorder {
    border: 3px solid white;
    overflow-wrap: break-word;
    overflow: auto;
    height: 700px;
}

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: black;
}

.scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}

.postContentForm {
    height: 300px !important; 
}

.postContent p {
    margin-top: 25px;
}

/*Comment Create*/

.displayBlock {
    display: block;
}