@{
    ViewBag.Title = "About Me";
}

<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <div>
            <h2>@ViewBag.Title</h2>
            
        </div>

        <img src="~/Content/Images/robertcartoon.png" id="selfie" />

        <p>My name is Robert. I used to be an elementary school teacher until I had my second child and realized that I was going to work everyday to barely cover the cost of daycare. Due to this realization I decided that I should look into other options for work. </p>
        <p>I didn't have much of a direction until I experienced hour of code and then became really interested in the idea of making my own programs and games. After trying to learn on my own and jumping from different languages a few times because I didn't really know where to start, I decided to attend the UCF Coding Boot Camp.</p>
        <p>We have covered front end and back end technologies (a full list can be found <a href="http://calm-fjord-67221.herokuapp.com/" target="_blank" title="Robert's Portfolio">here</a>), but who needs that when you have connections! I was lucky enough to have a connection which lead to an interview at <a href="http://www.unikey.com/" target="_blank" title="Unikey.com">Unikey Technologies</a>. That interview got me a second interview and somehow I was given a chance by a company that was using a completely different language than what I had covered and on ASP.NET, which was a framework I had never used.</p>
        <p>Don't get me wrong, I think that I am deserving of this internship because I know that I am capable of learning, but I am very grateful that <a href="http://www.unikey.com/" target="_blank" title="Unikey.com">Unikey</a> gave me a shot when I would imagine that most would not with my limited experience.</p>
        <p>That being said, this blog is going to be a look into my trials and tribulations trying to learn ASP.NET and C# so that I can hopefully get a full time job before (or atleast by the time) my internship is over.</p>

    </div>

</div>