@{
    ViewBag.Title = "Send an eRaven";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>
        <img src="~/Content/Images/raven.jpg" id="raven" />

        <div class="jumbotron" id="contact">
            <address id="address">
                <br />
                <br />
                <br />
                <!--deal with position on email later-->
                <strong>Email: </strong><a href="mailto:robertprine2@gmail.com" id="email"> robertprine2@yahoo.com</a><br />
            </address>
        </div>
    </div>

</div>
